[submodule "saleor-platform-isec6000-chirayu-21525649"]
	path = saleor-platform-isec6000-chirayu-21525649
	url = https://github.com/chirayupatel225/saleor-platform-isec6000-chirayu-21525649.git
[submodule "Assessment 1/saleor-platform-isec6000-chirayu-21525649"]
	path = Assessment 1/saleor-platform-isec6000-chirayu-21525649
	url = https://github.com/chirayupatel225/saleor-platform-isec6000-chirayu-21525649.git
[submodule "Assessment 2/aws-elastic-beanstalk-express-js-sample-chirayupatel-21525649"]
	path = Assessment 2/aws-elastic-beanstalk-express-js-sample-chirayupatel-21525649
	url = https://github.com/chirayupatel225/aws-elastic-beanstalk-express-js-sample-chirayupatel-21525649.git
[submodule "Assessment 2/Project2-Compose-chirayupatel-21525649"]
	path = Assessment 2/Project2-Compose-chirayupatel-21525649
	url = https://github.com/chirayupatel225/Project2-Compose-chirayupatel-21525649.git
